.events {
    padding: 140px 0 100px;
    background-color: #dedede;
    //background-image: url(../assets/images/noise.png);

    &__listing {
        margin-bottom: 100px;
    }

    &__services {
        .container();
        margin-bottom: 50px;
        display: block;
    }

    &__section-description {
        max-width: 870px;
        margin: 0 0 60px;
        font-size: 16px;
        line-height: 22px;
        display: block;
    }
}